.sort-by {
  .nav-link {
    background-color: #fafafa;
    border: 1px solid #bdbdbd;
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding: 6px 10px;
    border-radius: 0;

    &.active {
      background-color: $green;
      border-color: #81a03a;
    }
  }

  > li {
    &:not(:first-child) {
      .nav-link:not(.active) {
        border-left: none !important;
      }
    }

    &:last-child {
      .nav-link {
        border-bottom-right-radius: 50rem;
        border-top-right-radius: 50rem;
      }
    }

    &:first-child {
      .nav-link {
        border-bottom-left-radius: 50rem;
        border-top-left-radius: 50rem;
      }
    }
  }
}

.page-content {
  max-width: 1200px;
  margin: 0 auto;
}

.product-list {
  margin-left: -7px;
  margin-right: -7px;

  li {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 7px;
    margin-bottom: 14px;

    &:hover {
      a {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

.product-item {
  border: 1px solid #e0e0e0;
  padding: 12px;
  transition: box-shadow 0.3s;
  position: relative;
  text-decoration: none;

  &:hover {
    h3,
    .price {
      text-decoration: none;
    }
  }

  .product-img {
    display: flex;
    flex-direction: row;
    margin: -12px -12px 15px -12px;
    height: calc((100vw - 66px) / 2);

    img {
      max-width: 100%;

      vertical-align: middle;
      border-style: none;

      object-fit: cover;
      flex: 1;
      overflow: hidden;
    }
  }

  h3 {
    display: block;
    display: -webkit-box;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    height: calc(1em * 1.2 * 2);
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: $green;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .price {
    color: #434343;
    font-weight: 700;
  }
}

.product-badges {
  position: absolute;
  top: 3px;
  left: 3px;
  transition: opacity 0.3s ease-in-out;

  > div {
    color: #fff;
    padding: 5px 10px;
    background-color: $green;
  }
}

.title {
  text-align: center;
  padding: 20px 10px 10px;
  font-size: 30px;
  font-weight: 600;
  color: $green;
}

.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px;

  .page-link {
    color: $green;
  }
}

@media screen and (min-width: 576px) {
  .product-item {
    .product-img {
      height: 246px;
    }
  }
}

@media screen and (min-width: 768px) {
  .sort-by {
    .nav-link {
      padding: 13px 25px;
    }
  }

  .product-list {
    li {
      flex: 0 0 33.3%;
      max-width: 33.3%;
    }
  }

  .product-item {
    .product-img {
      height: 142px;
    }
  }
}

@media screen and (min-width: 992px) {
  .product-item {
    .product-img {
      height: 200px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .product-list {
    li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }

    .product-item {
      .product-img {
        height: 191px;
      }
    }
  }
}

@media screen and (min-width: 1230px) {
  .product-list {
    .product-item {
      .product-img {
        height: 206px;
      }
    }
  }
}
