.date {
  font-size: 11px;
}
.comment-text {
  font-size: 12px;
  white-space: normal;
}
.fs-12 {
  font-size: 12px;
}
.shadow-none {
  box-shadow: none;
}
.name {
  color: #1f2020;
}
.textarea {
  resize: none;
}
