.title_banner {
  background-color: #8080800f;

  .text {
    position: absolute;
    padding: 20px;
    z-index: 1;

    h1, h2, button {
        white-space: normal;
    }

    h2 {
        font-weight: 600;
    }
  }

  img {
    position: relative;
    float: right;
    object-fit: cover;
    max-height: 400px;

    &.xl {
        display: none;
    }
  }
}

@media only screen and (min-width: 400px) {
    .title_banner {
        .text {
            padding: 10% 5%;
        }
        img {
            max-height: 450px;

            &.xs {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .title_banner {
        .text {
            .more {
                font-size: 15px;
                padding: 5px 15px;
            }
        }
    }
}

@media only screen and (min-width: 700px) {
    .title_banner {
        .text {
            .more {
                font-size: 18px;
                padding: 5px 20px;
            }
        }

        img {
            &.xs {
                display: none;
            }

            &.xl {
                display: block;
            }
        }
    }
}
