footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 10vmin;
  padding: 8px 10px;
  border-top: 1px solid gray;

  background-color: $green;
  color: white;
  overflow: hidden;

  span {
    display: flex;
    align-items: center;

    i {
      margin: 0px 5px;
    }
  }
}

@media only screen and (min-width: 600px) {
  footer {
    font-size: 3vmin;
  }
}
@media only screen and (min-height: 800px), (min-width: 1200px) {
  footer {
    height: 6vmin;
  }
}
