@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  font-family: "Montserrat";
  font-smooth: always;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

html,
body {
  width: 100vw;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: black;
  font-weight: 400;
  letter-spacing: 0px;
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
  width: auto;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

button.more {
  margin: 10px 0;
  padding: 4px 10px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  background-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active:focus .btn-success.focus, .btn-success:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#root {
  width: 100vw;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#rootElement {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 10vmin;
  padding: 0px 10px;
  background-color: #28a745;
  overflow: visible;
}

header .reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

header .reg button:hover {
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
}

header .reg button:active {
  -webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
}

header .logo {
  display: none;
  float: left;
  height: 100%;
  width: auto;
  overflow: hidden;
}

header .logo img {
  height: 8vmin;
}

header .language {
  overflow: visible;
}

header .language .nav-item a {
  color: #fff;
}

header .language .nav-item a:hover, header .language .nav-item a:focus {
  color: #fff;
}

header .language .nav-item a.dropdown-item {
  color: black;
  padding: 4px 10px;
}

header .language .nav-item a.dropdown-item img {
  width: 25px;
  height: auto;
  margin-right: 5px;
}

header .language .nav-link {
  padding: 0;
}

header .language .dropdown-toggle::after {
  vertical-align: 0em;
}

header .language .dropdown-menu {
  min-width: 5rem;
}

header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 10px;
  color: white;
}

header button:first-child {
  border-right: 1px solid white;
}

header button i {
  color: white;
  margin: 0 5px;
}

@media only screen and (min-width: 430px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 600px) {
  header button {
    font-size: 3vmin;
  }
  header .language a {
    font-size: 3vmin;
  }
  header .logo img {
    height: 7vmin;
  }
}

@media only screen and (min-width: 700px) {
  header .logo img {
    height: 6vmin;
  }
}

@media only screen and (min-height: 800px), (min-width: 1200px) {
  header {
    height: 6vmin;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 10vmin;
  padding: 8px 10px;
  border-top: 1px solid gray;
  background-color: #28a745;
  color: white;
  overflow: hidden;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer span i {
  margin: 0px 5px;
}

@media only screen and (min-width: 600px) {
  footer {
    font-size: 3vmin;
  }
}

@media only screen and (min-height: 800px), (min-width: 1200px) {
  footer {
    height: 6vmin;
  }
}

main {
  min-height: calc(100% - 20vmin);
  padding-bottom: 40px;
  overflow: visible;
}

@media only screen and (min-height: 800px), (min-width: 1200px) {
  main {
    min-height: calc(100% - 12vmin);
  }
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.actions button {
  width: 100%;
}

.actions button.cancelbtn {
  background-color: #f44336;
}

.actions button.modal_btn {
  padding: 8px 10px;
}

button:focus {
  outline: none;
}

@media screen and (max-width: 300px) {
  .cancelbtn {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .actions button:first-child {
    margin-right: 5px;
  }
  .actions button:last-child {
    margin-left: 5px;
  }
}

.title_banner {
  background-color: #8080800f;
}

.title_banner .text {
  position: absolute;
  padding: 20px;
  z-index: 1;
}

.title_banner .text h1, .title_banner .text h2, .title_banner .text button {
  white-space: normal;
}

.title_banner .text h2 {
  font-weight: 600;
}

.title_banner img {
  position: relative;
  float: right;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 400px;
}

.title_banner img.xl {
  display: none;
}

@media only screen and (min-width: 400px) {
  .title_banner .text {
    padding: 10% 5%;
  }
  .title_banner img {
    max-height: 450px;
  }
  .title_banner img.xs {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .title_banner .text .more {
    font-size: 15px;
    padding: 5px 15px;
  }
}

@media only screen and (min-width: 700px) {
  .title_banner .text .more {
    font-size: 18px;
    padding: 5px 20px;
  }
  .title_banner img.xs {
    display: none;
  }
  .title_banner img.xl {
    display: block;
  }
}

.navbar {
  overflow: visible;
  background-color: #28a745;
}

.navbar-expand-lg .navbar-collapse {
  overflow: visible;
}

.navbar-expand-lg .navbar-nav {
  overflow: visible;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
  overflow: visible;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
  background-color: #1ec545;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: white;
  background-color: #1ec545;
}

.navbar-light .navbar-toggler {
  outline: none;
  background-color: white;
}

.navbar-light .navbar-toggler i {
  color: #28a745;
}

.btn-outline-success {
  background-color: white;
}

.btn-outline-success .fa-search {
  margin-bottom: -4px;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-inline {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.form-control:focus {
  border-color: green;
  -webkit-box-shadow: 0 0 12px rgba(58, 59, 59, 0.25);
          box-shadow: 0 0 12px rgba(58, 59, 59, 0.25);
}

@media only screen and (min-width: 600px) {
  .navbar-nav {
    font-size: 2.5vmin;
  }
  .navbar-nav .dropdown-menu {
    font-size: 2.5vmin;
  }
  .form-inline .form-control {
    width: 50vmin;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-expand-lg .navbar-collapse {
    position: absolute;
    top: 55px;
    right: 0;
    width: 315px;
    z-index: 2;
  }
  .navbar-expand-lg .navbar-collapse .navbar-nav {
    padding: 5px 0px;
    background-color: #28a745;
  }
  .navbar-expand-lg .navbar-collapse .navbar-nav li a {
    padding: 1vmin 2vmin;
  }
  .navbar-expand-lg .navbar-collapse .dropdown-item {
    text-overflow: initial;
    white-space: normal;
  }
}

@media only screen and (max-width: 360px) {
  .navbar-toggler {
    padding: 0.375rem 6px;
  }
  .form-inline .btn {
    padding: 0.375rem 6px;
  }
}

.categorys img {
  width: 40vmin;
  max-width: 160px;
  height: 40vmin;
  max-height: 160px;
  padding-bottom: 10px;
}

.categorys h1 {
  font-size: 7vmin;
  font-weight: 600;
  text-align: center;
  padding: 40px 20px 10px;
  white-space: normal;
}

.categorys ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  margin: 30px 0 0 0;
  padding: 0 15px;
  position: relative;
}

.categorys ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #28a745;
  white-space: normal;
}

.categorys .text-center {
  margin: 20px;
}

.categorys .text-center .btn-success {
  border-radius: 20px;
  padding: 10px 30px;
}

@media screen and (min-width: 768px) {
  .categorys ul li {
    -ms-flex: 0 0 33.3333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media screen and (min-width: 992px) {
  .categorys h1 {
    font-size: 5vmin;
  }
  .categorys ul li {
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 20%;
    max-width: 20%;
  }
}

@media screen and (min-width: 1440px) {
  .categorys h1 {
    font-size: 4vmin;
  }
  .categorys ul {
    margin: 0 -5px;
  }
  .categorys ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .fa-close {
  float: right;
  font-size: 25px;
  font-weight: 900;
  margin: 5px 10px 0;
}

.modal form {
  width: 90%;
  background-color: #f1efef;
  border: 3px solid #f1f1f1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal input[type="text"],
.modal input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal .modal_btn {
  padding: 8px 10px;
}

.modal .modal_btn:hover {
  opacity: 0.8;
}

.modal .cancelbtn {
  background-color: #f44336;
}

.modal .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.modal img.avatar {
  width: 40%;
  border-radius: 50%;
}

.modal .container {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .modal form {
    width: 450px;
  }
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.registration h1 {
  padding: 20px;
  text-align: center;
  color: #28a745;
  overflow: hidden;
}

.registration form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1400px;
  padding: 20px 10px;
  margin: 0 auto;
}

.registration form .more {
  max-width: 400px;
  margin: 10px auto;
}

@media only screen and (min-width: 768px) {
  .registration form .form-label-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration form .actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sort-by .nav-link {
  background-color: #fafafa;
  border: 1px solid #bdbdbd;
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  padding: 6px 10px;
  border-radius: 0;
}

.sort-by .nav-link.active {
  background-color: #28a745;
  border-color: #81a03a;
}

.sort-by > li:not(:first-child) .nav-link:not(.active) {
  border-left: none !important;
}

.sort-by > li:last-child .nav-link {
  border-bottom-right-radius: 50rem;
  border-top-right-radius: 50rem;
}

.sort-by > li:first-child .nav-link {
  border-bottom-left-radius: 50rem;
  border-top-left-radius: 50rem;
}

.page-content {
  max-width: 1200px;
  margin: 0 auto;
}

.product-list {
  margin-left: -7px;
  margin-right: -7px;
}

.product-list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 7px;
  margin-bottom: 14px;
}

.product-list li:hover a {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

.product-item {
  border: 1px solid #e0e0e0;
  padding: 12px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
  text-decoration: none;
}

.product-item:hover h3,
.product-item:hover .price {
  text-decoration: none;
}

.product-item .product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: -12px -12px 15px -12px;
  height: calc((100vw - 66px) / 2);
}

.product-item .product-img img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.product-item h3 {
  display: block;
  display: -webkit-box;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  height: calc(1em * 1.2 * 2);
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #28a745;
  text-decoration: none;
  white-space: pre-wrap;
}

.product-item h3:hover {
  text-decoration: none;
}

.product-item .price {
  color: #434343;
  font-weight: 700;
}

.product-badges {
  position: absolute;
  top: 3px;
  left: 3px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.product-badges > div {
  color: #fff;
  padding: 5px 10px;
  background-color: #28a745;
}

.title {
  text-align: center;
  padding: 20px 10px 10px;
  font-size: 30px;
  font-weight: 600;
  color: #28a745;
  white-space: pre-wrap;
}

.pagination_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px 0px;
}

.pagination_container .page-link {
  color: #28a745;
}

@media screen and (min-width: 576px) {
  .product-item .product-img {
    height: 246px;
  }
}

@media screen and (min-width: 768px) {
  .sort-by .nav-link {
    padding: 13px 25px;
  }
  .product-list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .product-item .product-img {
    height: 142px;
  }
}

@media screen and (min-width: 992px) {
  .product-item .product-img {
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .product-list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .product-list .product-item .product-img {
    height: 191px;
  }
}

@media screen and (min-width: 1230px) {
  .product-list .product-item .product-img {
    height: 206px;
  }
}

ul.manufacturers_container {
  margin: 0 0 1em 1em;
}

.offer-list {
  overflow: visible;
}

.offer-list li {
  margin-bottom: 1rem;
  overflow: visible;
}

.offer-list li a strong {
  white-space: pre-wrap;
}

.offer-list li a p {
  padding: 0;
  margin: 0;
}

.offer-list li:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 0 1em 0.2em -1.2em;
}

.offer-list li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #000;
}

.offer-list li a:hover {
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .offer-list {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 3em;
            column-gap: 3em;
  }
}

@media screen and (min-width: 768px) {
  .offer-list {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

@media screen and (min-width: 992px) {
  .offer-list {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

.about_product_container {
  padding: 10px;
  width: 100%;
}

.about_product_container div img {
  width: 100%;
  height: auto;
}

.about_product_container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  margin: 10px auto;
}

.about_product_container .about p,
.about_product_container .about h4 {
  white-space: normal;
  text-align: justify;
}

.product .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product .container .banner {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.product .container .d-flex {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.product .container .d-flex.hide > div {
  display: none;
}

.product .container .d-flex.hide .show_comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .container .d-flex .show_comments {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px 30px;
  white-space: pre-wrap;
}

.mt-5,
.my-5 {
  margin-top: 1rem !important;
}

.about_manufacturer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 680px;
  margin: 10px auto;
  padding: 10px;
}

.about_manufacturer_container p,
.about_manufacturer_container span,
.about_manufacturer_container h3 {
  white-space: normal;
  text-align: justify;
}

.about_manufacturer_container span {
  font-style: italic;
}

.mt-2 .btn-primary {
  border-color: #28a745;
}

.mt-2 .btn-outline-primary {
  background-color: transparent;
  color: #28a745;
  border-color: #28a745;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px;
}

.user .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.user ul {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .product .container {
    max-width: 100%;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .about_product_container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .about_product_container div img {
    width: 500px;
    height: auto;
  }
}

@media only screen and (min-width: 700px) {
  .product {
    max-width: 1250px;
    margin: 0 auto;
  }
  .product .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product .container .banner {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 10px 0px 0px;
  }
  .product .container .d-flex {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .user {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .user .about {
    width: 30%;
  }
  .user ul {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  .about_product_container .about h4 {
    font-size: 26px;
  }
  .about_product_container .about p {
    font-size: 20px;
  }
  .about_manufacturer_container {
    width: 100%;
  }
  .about_manufacturer_container h3 {
    font-size: 26px;
  }
  .about_manufacturer_container p,
  .about_manufacturer_container span {
    font-size: 20px;
  }
  .mt-2 .comment-text {
    font-size: 16px;
  }
  .d-flex .fa {
    font-size: 35px;
  }
  .d-flex .name {
    font-size: 18px;
  }
  .d-flex .date {
    font-size: 15px;
  }
  .btn-group-sm > .btn,
  .btn-sm {
    font-size: 20px;
    padding: 5px 10px;
  }
}

.date {
  font-size: 11px;
}

.comment-text {
  font-size: 12px;
  white-space: normal;
}

.fs-12 {
  font-size: 12px;
}

.shadow-none {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.name {
  color: #1f2020;
}

.textarea {
  resize: none;
}

.banner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
}

.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: white;
  display: block;
}

.head_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image_container i {
  position: absolute;
  z-index: 1;
  font-size: 25px;
}

.image_container i.fa-angle-left {
  left: 0;
  top: 50%;
}

.image_container i.fa-angle-right {
  right: 0;
  top: 50%;
}

.image_container img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.article_name {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: orange;
  color: white;
}

@media only screen and (min-width: 370px) {
  .image_container img {
    padding: 20px;
  }
}

@media only screen and (min-width: 450px) {
  .image_container img {
    padding: 40px;
  }
  .image_container i.fa-angle-left {
    left: 20px;
  }
  .image_container i.fa-angle-right {
    right: 20px;
  }
}

@media only screen and (min-width: 700px) {
  .head_line p, .head_line i {
    font-size: 20px;
  }
  .image_container img {
    width: 80vmin;
  }
  .image_container i {
    font-size: 30px;
  }
  .article_name {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1400px) {
  .head_line p, .head_line i {
    font-size: 25px;
  }
  .image_container i {
    font-size: 50px;
  }
  .article_name {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1700px) {
  .head_line p, .head_line i {
    font-size: 30px;
  }
  .image_container i {
    font-size: 60px;
  }
  .article_name {
    font-size: 28px;
  }
}
/*# sourceMappingURL=style.css.map */